*,
*::after,
*::before {
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
}
body {
  /*width: 90%;*/

  /*margin: 0 auto;*/
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px;
}

header {
  background-color: #043873;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.home-menu {
  font-size: 35px;
}
.continer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.continer {
  display: flex;
  flex-direction: column;
}
/* --------------------------------------------------------------------------------------------- */

.content1 {
  background-color: #043873;
}
.content1 p {
  color: #ffffff;
}
h1,
p {
  text-align: center;
  color: #ffffff;
  padding: 0px 15px;
}

h1 {
  font-size: 35px;
  padding: 25px;
  margin-top: 45px;
}
p {
  font-size: 20px;
  margin-bottom: 50px;
}
.button1 {
  text-align: center;
  border: none;
  border-radius: 10px;
  background-color: #4f9cf9;
  display: flex;
  padding: 0 20px;
}
.button1 h3 {
  color: #ffffff;
  font-size: 25px;
  padding: 30px 0px 25px 20px;
}
.next {
  width: 20px;
  height: 90px;
  padding: 0px 0px 0px 5px;
}
.absurd {
  width: 280px;
  height: 150px;
  background-color: #a7cefc;
  margin: 70px auto 120px auto;
  padding-bottom: 50px;
}
/* ------------------------------------------------------------------------------------------------------------ */
.content2 {
  background-color: #ffffff;
  position: relative;
}
.content2 img {
  margin-bottom: 35px;
  position: absolute;
  z-index: 0;
}
.content2 h1,
p {
  color: black;
}

.content2 h1 {
  padding-top: 30px;
  z-index: 10;
}

.button2 {
  margin: 0 auto;

  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #4f9cf9;
  display: flex;
  padding: 0 20px;
  width: 210px;
  height: 70px;
}
.button2 h3 {
  color: #ffffff;
  font-size: 25px;
}
/* ---------------------------------------------------------------------------------------------------------- */
.content3 {
  background-color: #ffffff;
}
.content3 h1 {
  margin-top: -62px;
}
.content3 h1,
p {
  z-index: 10;
  color: black;
}
.content3 img {
  z-index: 0;
  margin-left: 100px;
  width: 135px;
}
.button3 {
  text-align: center;
  border: none;
  border-radius: 10px;
  background-color: #4f9cf9;
  display: flex;
  padding: 0 20px;
  width: 210px;
  height: 70px;
}

.button3 h3 {
  color: #ffffff;
  font-size: 25px;
  padding: 20px 0px 20px 10px;
}

.button3 img {
  /* width: 35px; */
  height: 20px;
  margin-left: -45px;
  margin-top: 25px;
  margin-right: -50px;
}

/* ----------------------------------------------------------------------------------------------------------- */
.circle {
  width: 250px;
  height: 250px;
  margin: 25px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.content4 {
  background-color: #043873;
  position: relative;
}
.content4 img {
  margin-bottom: 340px;
  position: absolute;
  z-index: 0;
}

.content4 h1 {
  padding-top: 30px;
  z-index: 10;
  font-size: 40px;
}
.content4 p {
  color: #ffffff;
}

.button4 {
  margin: 0 auto;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #4f9cf9;
  display: flex;
  padding: 0 20px;
  width: 210px;
  height: 70px;
}
.button4 h3 {
  color: #ffffff;
}
.button4 img {
  width: 20px;
  height: 20px;
  margin-bottom: 0px;
  margin-left: 120px;
  color: #ffffff;
}
.absurd4 {
  width: 280px;
  height: 150px;
  background-color: #a7cefc;
  margin: 50px auto 50px auto;
  padding-bottom: 50px;
}
/* ----------------------------------------------------------------------------------------------------------- */
.absurd5 {
  width: 280px;
  height: 150px;
  background-color: #a7cefc;
  margin: 50px auto 50px auto;
  padding-bottom: 50px;
}
.content5 {
}
.content5 h1 {
  color: #0a0909;
  font-size: 43px;
  z-index: 10;
  position: relative;
}
.content5 img {
  position: absolute;
  width: 105px;
  z-index: 0;
  margin: 110px 185px;
}
