*,
*::after,
*::before {
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
}
@font-face {
  font-family: "inter";
  src: url(../font/Inter-Italic-VariableFont_opsz\wght.ttf);
}

body {
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px;
}

header {
  background-color: #043873;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.home-menu {
  font-size: 35px;
}
.continer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.continer {
  display: flex;
  flex-direction: column;
}
/* --------------------------------------------------------------------------------------------- */

.content1 {
  background-color: #043873;
}
.content1 p {
  color: #ffffff;
}
h1,
p {
  text-align: center;
  color: #ffffff;
  padding: 0px 15px;
}

h1 {
  font-size: 35px;
  padding: 25px;
  margin-top: 45px;
}
p {
  font-size: 20px;
  margin-bottom: 50px;
}
.button1 {
  text-align: center;
  border: none;
  border-radius: 10px;
  background-color: #4f9cf9;
  display: flex;
  padding: 0 20px;
}
.button1 h3 {
  color: #ffffff;
  font-size: 25px;
  padding: 30px 0px 25px 20px;
}
.next {
  width: 20px;
  height: 90px;
  padding: 0px 0px 0px 5px;
}
.absurd {
  width: 280px;
  height: 150px;
  background-color: #a7cefc;
  margin: 70px auto 120px auto;
  padding-bottom: 50px;
}
/* ------------------------------------------------------------------------------------------------------------ */
.content2 {
  background-color: #ffffff;
  position: relative;
}
.content2 img {
  margin-bottom: 35px;
  position: absolute;
  z-index: 0;
}
.content2 h1,
p {
  color: black;
}

.content2 h1 {
  padding-top: 30px;
  z-index: 10;
}

.button2 {
  margin: 0 auto;

  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #4f9cf9;
  display: flex;
  padding: 0 20px;
  width: 210px;
  height: 70px;
}
.button2 h3 {
  color: #ffffff;
  font-size: 25px;
}
/* ---------------------------------------------------------------------------------------------------------- */
.content3 {
  background-color: #ffffff;
}
.content3 h1 {
  margin-top: -62px;
}
.content3 h1,
p {
  z-index: 10;
  color: black;
}
.content3 img {
  z-index: 0;
  margin-left: 100px;
  width: 135px;
}
.button3 {
  text-align: center;
  border: none;
  border-radius: 10px;
  background-color: #4f9cf9;
  display: flex;
  padding: 0 20px;
  width: 210px;
  height: 70px;
}

.button3 h3 {
  color: #ffffff;
  font-size: 25px;
  padding: 20px 0px 20px 10px;
}

.button3 img {
  /* width: 35px; */
  height: 20px;
  margin-left: -45px;
  margin-top: 25px;
  margin-right: -50px;
}

/* ----------------------------------------------------------------------------------------------------------- */
.circle {
  width: 250px;
  height: 250px;
  margin: 25px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.content4 {
  background-color: #043873;
  position: relative;
}
.content4 img {
  margin-bottom: 340px;
  position: absolute;
  z-index: 0;
}

.content4 h1 {
  padding-top: 30px;
  z-index: 10;
  font-size: 40px;
}
.content4 p {
  color: #ffffff;
}

.button4 {
  margin: 0 auto;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #4f9cf9;
  display: flex;
  padding: 0 20px;
  width: 210px;
  height: 70px;
}
.button4 h3 {
  color: #ffffff;
}
.button4 img {
  width: 20px;
  height: 20px;
  margin-bottom: 0px;
  margin-left: 120px;
  color: #ffffff;
}
.absurd4 {
  width: 280px;
  height: 150px;
  background-color: #a7cefc;
  margin: 50px auto 50px auto;
  padding-bottom: 50px;
}
/* ----------------------------------------------------------------------------------------------------------- */
.absurd5 {
  width: 280px;
  height: 150px;
  background-color: #a7cefc;
  margin: 50px auto 50px auto;
  padding-bottom: 50px;
}
.content5 {
}
.content5 h1 {
  color: #0a0909;
  font-size: 43px;
  z-index: 10;
  position: relative;
}
.content5 img {
  position: absolute;
  width: 105px;
  z-index: 0;
  margin: 110px 185px;
}
.button5 {
  margin: 10px auto 100px auto;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #4f9cf9;
  display: flex;
  padding: 0 20px;
  width: 210px;
  height: 70px;
}
.button5 h3 {
  color: #ffffff;
}
.button5 img {
  width: 20px;
  height: 20px;
  margin-bottom: 110px;
  margin-left: 300px;
  color: #ffffff;
}
/* ------------------------------------------------------------------------------------------------------- */
.content6 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content6 img {
  position: absolute;
  width: 105px;
  z-index: 0;
  margin: 0px;
  margin-top: -60px;
}
.content6 h1 {
  position: relative;
  font-size: 50px;
  color: #0a0909;
  margin-top: 0px;
  padding-top: 0px;
}
.content6 h2 {
  font-size: 50px;
  color: #0a0909;
}
.content6 p {
}
/* ----------------------------------------------------------------------------------------------------------- */
.content7 {
  background-color: #043873;
  border-radius: 4px;
  margin: 10px;
}
.content7-hader {
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: start;
  padding: 15px;
}
.content7-hader h1 {
  margin-left: 0;
  padding: 0;
  color: #ffffff;
}
.content7-hader h3 {
  font-size: 20px;
  color: #ffffff;
}
.content7-main {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.tik {
  margin: 20px 0;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: start;
  /* border: red solid 2px; */
  padding-left: 10px;
}
.tik h4 {
  margin-left: 50px;
  font-size: 22px;
  color: #ffffff;
}
.tik img {
  width: 25px;
  margin: 0;
}
.button7 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  background-color: #4f9cf9;
  display: flex;
  padding: 0 20px;
  width: 210px;
  height: 70px;

  margin: 15px 0 50px 15px;
}
.button7 h3 {
  color: #ffffff;
}
/* --------------------------------------------------------------------------------------------------------- */
.content8 {
  background-color: #043873;
  padding: 10px;
}

.content8 img {
  width: 274px;
  position: absolute;
  margin-top: 155px;
}
.content8 h1 {
  position: relative;
  font-size: 30px;
  text-align: left;
  color: #ffffff;
}
.content8 p {
  color: #ffffff;
  text-align: left;
}
.button8 {
  margin: 10px auto 100px 10px;
  border: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  background-color: #4f9cf9;
  display: flex;
  padding: 0 0px;
  width: 170px;
  height: 60px;
}
.button8 h3 {
  color: #ffffff;
  margin-left: -20px;
}
.button8 img {
  width: 20px;
  height: 20px;
  margin: 0px;
  margin-left: 90px;

  color: #ffffff;
}
/* ------------------------------------------------------------------------------------------------------- */
.Element {
  margin: 50px auto 150px auto;
}
/* ------------------------------------------------------------------------------------------------------------ */
.content9-main {
}
.Vector9 {
  position: absolute;
  width: 105px;
  z-index: 0;
  margin: 110px 10px 110px 115px;
}
.content9-main h1 {
  color: #0a0909;
  font-size: 43px;
  z-index: 10;
  position: relative;
}
.content9-main p {
}
.button9 {
  margin: 10px auto 100px auto;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #4f9cf9;
  display: flex;
  padding: 0 20px;
  width: 210px;
  height: 70px;
}
.button9-next {
  width: 15px;
  height: 15px;
  margin-left: 5px;
}
.button9 h3 {
  color: #ffffff;
}
/* ---------------------------------------------------------------------------------------------------------- */
.content10-header h1 {
  position: relative;
  color: #0a0909;
  font-size: 40px;
}
.Vector10 {
  position: absolute;
  margin-left: 100px;
  margin-top: 55px;
  height: 22px;
  width: 190px;
}
.content10-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 509px;
  width: 288px;
  margin: 100px auto;
}
/* -------------------------------------------------------------------------------------------------------------- */
.content11 {
  background-color: #043873;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 80px;
}

.content11 p {
  color: #ffffff;
}
.img-Apps {
}

.button11 {
  margin: 10px auto 100px auto;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #4f9cf9;
  display: flex;
  padding: 0 20px;
  width: 210px;
  height: 70px;
}
.button11-next {
  width: 15px;
  height: 15px;
  margin-left: 8px;
}
.button11 h3 {
  color: #ffffff;
}
/* --------------------------------------------------------------------------------------------------------- */
.content12 {
  padding: 100px 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 895px;
}
.content12-header {
  padding: 20px;
}
.Vector12 {
  position: absolute;
  padding-top: 125px;
  padding-left: 50px;
}
.content12-header h1 {
  position: relative;
  color: #0a0909;
}
.content12-main {
  padding: 0px 20px;
  text-align: left;
}
.content12-main p {
  text-align: left;
  padding-left: 0px;
  border-bottom: 2px solid black;
  padding-bottom: 40px;
}
.img-Group {
  text-align: left;
}
.content-foter {
  padding: 0px 20px;
  margin-top: -25px;
}
.img-amater {
  text-align: left;
}
.content-foter h3 {
  text-align: left;
}
.content-foter p {
  text-align: left;
  padding-left: 0px;
}
