*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 90%;

  margin: 0 auto;
}
header {
  background-color: #043873;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.home-menu {
  font-size: 35px;
}
.continer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.continer {
  display: flex;
  flex-direction: column;
}
/* --------------------------------------------------------------------------------------------- */

.content1 {
  background-color: #043873;
}
h1,
p {
  text-align: center;
  color: #ffffff;
}

h1 {
  font-size: 35px;
  padding: 25px;
  margin-top: 45px;
}
p {
  font-size: 20px;
  margin-bottom: 50px;
}
.button1 {
  text-align: center;
  border: none;
  border-radius: 10px;
  background-color: #4f9cf9;
  display: flex;
  padding: 0 20px;
}
.button1 h3 {
  color: #ffffff;
  font-size: 25px;
  padding: 30px 0px 25px 20px;
}
.next {
  width: 38px;
  height: 85px;
  padding: 0 10px;
}
.absurd {
  width: 280px;
  height: 150px;
  background-color: #a7cefc;
  margin: 70px 0px 120px 0px;
  padding-bottom: 50px;
}
/* ------------------------------------------------------------------------------------------------------------ */
.content2 {
  background-color: #ffffff;
  position: relative;
}
.content2 img {
  margin-bottom: 35px;
  position: absolute;
  z-index: 0;
}
.content2 h1,
p {
  color: black;
}

.content2 h1 {
  padding-top: 30px;
  z-index: 10;
}

.button2 {
  text-align: center;
  border: none;
  border-radius: 10px;
  background-color: #4f9cf9;
  display: flex;
  padding: 0 20px;
}
.button2 h3 {
  color: #ffffff;
  font-size: 25px;
  padding: 30px 10px 25px 45px;
}
/* ---------------------------------------------------------------------------------------------------------- */
.content3 {
  background-color: #ffffff;
}
.content3 h1 {
  margin-top: -62px;
}
.content3 h1,
p {
  z-index: 10;
  color: black;
}
.content3 img {
  z-index: 0;
  margin-left: 90px;
  width: 135px;
}
/* ----------------------------------------------------------------------------------------------------------- */
.contente4 img {
  width: 250px;
  height: 250px;
  margin: 25px 0px 25px 20px;
}
